$careers-colors: (
    ethical-hacking: #4ac694,
    sys-administration: #a3b6cc,
    marketing: #3a5998,
    qa: #316cff,
    ui-ux: #f9cf58,
    fullstack: #9da6e9,
    mobile: #8e8e93,
    embedded: #475f8e,
);
